.App {
  height:100%;
  position:relative;
  width: 100%;
  background-color: #FFFBFF
}

@media only screen and (max-width: 991px) {
  .App {
    margin-right: -5px;
  }
}

@media only screen and (max-width: 900px) {
  .App {
   position: relative;
   right: 0;
  }
}