.sticky{
    top: 0;
    width: 100%;
}

.navbarRight {
    float: right;
}

.navbar-header{
    /* background-color: #451417; */
    background-color: #9c182f;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    color: white;
    margin-right: 10px;
}

.headerContainer{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
  
.navbar{
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
}