.form-control {
    margin-top: 10px;
}

.applicationDetails {
    text-align: left;
    margin-top: 10px;
}

.applicationDetailsRight {
    text-align: right;
    margin-top: 10px;
}

.applicationSubmitButton {
    margin-top: 10px;
}

.applicationAgreement {
    font-weight: normal;
}

.radioButtonDetails {
    margin-top: 10px;
}

.radioDetail {
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}

.radioButton {
    margin-right: 5px;
}

.formDiv {
    margin-top: 10px;
}

.formLabel {
    margin-top: 20px;
}

.instructions,
h4 {
    font-weight: bold;
    color: #333333
}